<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TradeWright.CommandLine" version="1.1.0" targetFramework="net48" />
  <package id="TradeWright.DataStorage" version="1.1.0" targetFramework="net48" />
  <package id="TradeWright.Logging" version="1.1.1" targetFramework="net48" />
  <package id="TradeWright.Time" version="1.1.0" targetFramework="net48" />
</packages>